<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Konsult</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet">
    <link href="assets/css/konsult.css" rel="stylesheet" type="text/css" />
</head>

<body> -->

    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/ZLVLKmK71HA?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header class="page-topbar">

            <div class="container">
                <div class="row m-0">

                    <div class="navbar-header header-top">
                        <div class="d-flex mobile-menu">
                            <!-- LOGO -->
                            <div class="navbar-brand-box logo-option">
                                <a routerLink="/" class="logo">
                                    <img src="assets/images/logo-dark.png" alt="" height="25">
                                </a>
                            </div>

                            <button type="button"
                                class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                                data-toggle="collapse" data-target="#topnav-menu-content">
                                <i class="fa fa-fw fa-bars"></i>
                            </button>



                        </div>



                        <div class="d-flex">

                            <div class="topnav no-shadow konsult-nav">

                                <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                                        <ul class="navbar-nav">



                                            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                                            <li class="nav-item"><a class="nav-link" routerLink = "/pricing">Pricing</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" routerLink="/blog">Blog</a></li>
                                            <li class="nav-item">
                                                <div class="signin_signup_btns">
                                                    <a routerLink = "/register" class="header-btn sign_btn">Sign Up</a>
                                                </div>
                                            </li>

                                            <li class="nav-item">
                                                <div class="signin_signup_btns">
                                                    <a routerLink = "/login" class="header-btn sign_btn">Login</a>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </nav>
                            </div>



                        </div>




                    </div>

                </div>
            </div>

        </header>


        <main class="main-konsult">

            <section class="hero s-pad s-bg-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h1>Get Paid to Video or <br>Consult with Clients, <br>Fans, & Followers</h1>
                            <h4 class="left-bdr">Monetize your website or social media accounts by charging for video
                                based questions</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="video-item">
                                <span class="play-icon" data-toggle="modal" data-target="#modal-video-01">
                                    <img src="assets/images/icons/play-icon.png">
                                </span>
                                <img src="assets/images/video-back-speaker.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="perfect-made s-pad">


                <div class="container">

                    <h1 class="text-center">Perfectly Made For You</h1>

                    <div class="row">

                        <div class="col-lg-12 p-0">


                            <div id="owl-demo" class="owl-carousel">

                                <div class="item">
                                    <img src="assets/images/counselor.jpg">
                                    <h4>Counselor</h4>
                                </div>

                                <div class="item">
                                    <img src="assets/images/musician.jpg">
                                    <h4>Musician</h4>
                                </div>

                                <div class="item">
                                    <img src="assets/images/advisor.jpg">
                                    <h4>Advisor</h4>
                                </div>

                                <div class="item">
                                    <img src="assets/images/technician.jpg">
                                    <h4>Technician</h4>
                                </div>

                                <div class="item">
                                    <img src="assets/images/artists.jpg">
                                    <h4>Artists</h4>
                                </div>

                                <div class="item">
                                    <img src="assets/images/teacher.jpg">
                                    <h4>Teacher</h4>
                                </div>

                                <div class="item">
                                    <img src="assets/images/attorney.jpg">
                                    <h4>Attorney</h4>
                                </div>


                                <div class="item">
                                    <img src="assets/images/consultant.jpg">
                                    <h4>Consultant</h4>
                                </div>


                                <div class="item">
                                    <img src="assets/images/engineer.jpg">
                                    <h4>Engineer</h4>
                                </div>


                                <div class="item">
                                    <img src="assets/images/doctor.jpg">
                                    <h4>Doctor</h4>
                                </div>




                            </div>





                        </div>



                    </div>
                </div>





            </section>



            <section class="build-channel s-pad s-bg-1">
                <div class="container">
                    <h1 class="text-left">Build a new income channel that pays you
                        for your time and expertise.</h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h4 class="left-bdr">Share what you love, believe, and know.
                                All through short videos.</h4>
                            <ul>
                                <li>Set your own asking & video price</li>
                                <li>Manage paid requests</li>
                                <li>Easy to remember link to add into your social media bio</li>
                                <li>Build a unique profile as your skills</li>
                                <li>Customize it with your own colors</li>
                                <li>Add unlimited video services</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="screen-earning">
                                <img src="assets/images/earning-screen.png">
                            </div>
                        </div>
                    </div>
                </div>

            </section>



            <section class="howto-get s-pad">


                <div class="container">

                    <h1 class="text-center">How to get started?</h1>

                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="how-to-get-box">
                                <figure class="text-center">
                                    <span>01</span>
                                </figure>
                                <h4 class="text-center">Create a profile page
                                    with all your video services</h4>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="how-to-get-box">
                                <figure class="text-center">
                                    <span>02</span>
                                </figure>
                                <h4 class="text-center">Share your personalized
                                    link with your audience
                                </h4>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="how-to-get-box">
                                <figure class="text-center">
                                    <span>03</span>
                                </figure>
                                <h4 class="text-center">Receive paid questions
                                    & video requests
                                </h4>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="how-to-get-box">
                                <figure class="text-center">
                                    <span>04</span>
                                </figure>
                                <h4 class="text-center">Complete requests & earn
                                    money in your bank
                                </h4>
                            </div>
                        </div>



                    </div>
                </div>


            </section>



            <section class="billing-system s-pad s-bg-1">

                <div class="container">
                    <h1 class="text-left">The Ultimate User-Friendly Chat Billing System</h1>
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/valuable-time-paid-icon.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Your time is valuable, so start getting paid for it</h4>
                                <p class="text-center">Cut out time-wasters and engage with clients willing to pay for
                                    your time
                                </p>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/secure-clients.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Connect securely with clients all around the world
                                </h4>
                                <p class="text-center">Our secure paid chat solution works internationally – empowering
                                    you to reach a global audience.
                                </p>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/profits-icon.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Set your own fees to maximize your profits
                                </h4>
                                <p class="text-center">Easily set text and video chat fees that work for you – from
                                    $1.00 to $5.99/minute, or up to $50 for flat-rate chat.

                                </p>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/stay-control.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Stay in control
                                </h4>
                                <p class="text-center">Set up availability schedules and accept or reject individual
                                    chat requests as they come in.

                                </p>
                            </div>
                        </div>




                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/valuable-time-paid-icon.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Work from anywhere, on any device
                                </h4>
                                <p class="text-center">Premium.Chat works with all mobile and desktop browsers,
                                    delivering a user-friendly paid chat experience for you and your clients.

                                </p>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/secure-clients.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">We handle the billing; you handle the chat
                                </h4>
                                <p class="text-center">Secure credit/debit card processing is included, covering Visa,
                                    Mastercard, Amex, and Discover.

                                </p>
                            </div>
                        </div>




                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/profits-icon.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Reliable, on-time payments
                                </h4>
                                <p class="text-center">Get paid by Direct Deposit or PayPal on the 10 th of each month
                                    for the previous month’s chats, with full accounting.

                                </p>
                            </div>
                        </div>




                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/stay-control.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Transparent, easy-to-follow reporting
                                </h4>
                                <p class="text-center">Benefit from reliability you can count on, with real-time,
                                    accurate reporting and billing that will keep you in the picture.

                                </p>
                            </div>
                        </div>




                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="billiing-box">
                                <figure class="text-center">
                                    <span class="billing-icon">
                                        <img src="assets/images/icons/valuable-time-paid-icon.png">
                                    </span>
                                </figure>
                                <h4 class="text-center">Super-lucrative two-tier referral program
                                </h4>
                                <p class="text-center">Refer friends and contacts to earn even more. We pay 2.5% of all
                                    revenue generated by your referrals, and 2.5% on anyone they refer!

                                </p>
                            </div>
                        </div>



                    </div>
                </div>


            </section>





            <footer class="foot-bg">


                <div class="container">


                    <div class="row">

                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-logo mb-35">
                                <a routerLink="/"><img src="assets/images/logo-dark.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-2-5 col-md-4 col-sm-4">

                            <div class="footer-tittle">
                                <h4>Company</h4>
                                <ul>
                                    <li><a routerLink="/">Home</a></li>
                                    <li><a routerLink="/blog">Blog</a></li>
                                    <li><a routerLink="/pricing">Pricing</a></li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-lg-2-5 col-md-4 col-sm-4">

                            <div class="footer-tittle">
                                <h4>Reach</h4>
                                <ul>
                                    <li><a routerLink="/">Contact Us</a></li>
                                    <li><a routerLink="/">Terms</a></li>
                                    <li><a routerLink="/">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                            <div class="footer-tittle address">
                                <h4>Contact us</h4>
                                <ul>
                                    <p><b>Konsult Inc</b><br>
                                        1st Floor, Survey No 44, <br>
                                        Rasoolpura Secunderabad, <br>
                                        Hyderabad - 500 003</p>
                                    <li><a routerLink="/">Email: hello@konsult.com</a></li>
                                    <li><a routerLink="/">Phone: +91 97033 71164</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="container line-40 mt-50">
                    <div class="row">
                        <div class="col-sm-6">
                            © Copyright ©2021 Kontact Inc, All rights reserved.
                        </div>
                        <div class="col-sm-6">
                            <div class="social-align">
                                <a href="#">
                                    <span class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                </a>
                                <a href="#">
                                    <span class="social-icon"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                </a>
                                <a href="#">
                                    <span class="social-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>


        </main>


    </div>




    <!-- JAVASCRIPT -->
    <!-- <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="assets/js/pages/dashboard.init.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/owl.carousel.js"></script> -->


    <!-- <script>
        $(document).ready(function () {

            var owl = $("#owl-demo"),
                status = $("#owlStatus");

            owl.owlCarousel({
                navigation: true,
                afterAction: afterAction,
                navigationText: [
                    "<i class='fa fa-angle-left'></i>",
                    "<i class='fa fa-angle-right'></i>"
                ],
            });



            function updateResult(pos, value) {
                status.find(pos).find(".result").text(value);
            }

            function afterAction() {
                updateResult(".owlItems", this.owl.owlItems.length);
                updateResult(".currentItem", this.owl.currentItem);
                updateResult(".prevItem", this.prevItem);
                updateResult(".visibleItems", this.owl.visibleItems);
                updateResult(".dragDirection", this.owl.dragDirection);
            }

        });
    </script>

    <script>
        try {
            var srcOld = $('.video-mo-01').children('iframe').attr('src');

            $('[data-target="#modal-video-01"]').on('click', function () {
                $('.video-mo-01').children('iframe')[0].src += "&autoplay=1";

                setTimeout(function () {
                    $('.video-mo-01').css('opacity', '1');
                }, 300);
            });

            $('[data-dismiss="modal"]').on('click', function () {
                $('.video-mo-01').children('iframe')[0].src = srcOld;
                $('.video-mo-01').css('opacity', '0');
            });
        } catch (er) { console.log(er); }
    </script> -->


<!-- 
</body>

</html> -->